/*Agregamos la fuente que vamos a utilizar en la pagina*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Exo:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(255,255,255,.7),rgba(0,0,0,.7)),url(/img/PORTADA.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    background-color: linear-gradient(rgba(0,0,0,.7)rgba(0,0,0,.7));
    position: fixed;
    width: 100%;
    min-height: 5vh;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
nav{
    width: 100%;
    display: flex;
    position: fixed;
}
.navbar-brand img {
    max-height: 10vh;
}


#inicio .menu-iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


#inicio nav ul a:hover{
    color: #ff5080;
}
#inicio .redes{
    padding-right: 5px;
}
#inicio .redes a{
    text-decoration: none;
    color: #373C4C;
    margin: 0 2px;
    font-weight: 400;
    transition: .1s;
}
#inicio .redes a:hover{
    color: #ff5080;
}

.active_nav {
    background-color: #fff;
}
.active_nav .nav_links a .active_nav .logo{
    color: #000;
}
.active_nav .nav_links a:hover {
    color: #fff;
}

#inicio .presentacion{
width: 100%;
height: 100vh;
margin: auto;
display: flex;
flex-direction: column;
align-items: right;
justify-content:center;
}


#inicio .presentacion p {
    font-size: 5vh;
    text-align: right;
    color: #f3f3f3;
    padding: 1vh;
}




#icono-nav{
    color:#fff;
    display: none;

}
/*SECCION SOBRE MI*/
.anuncios {
    display: flex;
    justify-content: center;
    padding: 1vh;
    
}
.anuncios img {
    max-height: 75vh;
}

.card-body {
    display: flex inline-block;
    font-size:xx-large
}



.servicios {
    display: flex inline-block;
    
}
.accordion-body {
    display: flex;
    justify-content: left;
}

#nav-inferior .fondo-texto {
    color: white;
    align-items: stretch;
    display: flex;
}
.fondo-texto a{
    margin: auto;
    max-width: 50vw;
}




