/*SECCION SERVICIOS*/

#fondo-servicios {
    max-width: 100%;
    display: flex;
}

#servicios {
    padding: 50px 15px;
    text-align: center;
    background-color: #f3f3f3;
    justify-content: space-around;
}

#servicios .titulo-servicios {
    text-transform: uppercase;
    color: #111135;
}
.accordion-body {
    justify-content:space-around;
}
